<section>
  <div
    class="mx-auto max-w-7xl px-6 pb-0 pt-8 md:px-12 lg:px-32 lg:pb-8 lg:pt-20"
  >
    <div class="flex flex-col lg:text-center">
      <h1
        class="md:text-balanced w-full text-pretty text-center font-display text-3xl font-medium tracking-tight text-black md:text-6xl lg:text-pretty"
      >
        The Industrialist
      </h1>
      <div
        class="flex w-full items-center justify-center border-b border-gray-500 pt-4 lg:border-hidden"
      >
        <div class="hidden w-full flex-grow border-t border-gray-500 lg:block">
        </div>
        <h3
          class="-mt-4 w-full text-pretty px-2 text-center font-[inter] text-base uppercase tracking-widest text-gray-500 md:mt-0 md:text-xl lg:text-nowrap"
        >
          Manufacturing Mavericks
        </h3>
        <div class="hidden w-full flex-grow border-t border-gray-500 lg:block">
        </div>
      </div>
    </div>
  </div>
</section>
