<footer class="mx-auto mt-20 w-full bg-[#FDF8ED]">
  <div class="mx-auto max-w-7xl px-8 py-4 md:px-12 lg:px-32">
    <section class="gap-x-8 gap-y-6">
      <div>
        <p class="text-center text-sm text-zinc-600 lg:col-span-2">
          An <a
            class="hover:text-accent-400 text-sm text-black underline"
            href="https://github.com/theblapse/theindustrialist.org"
            >open source</a
          > publication
        </p>
      </div>
    </section>
  </div>
</footer>
