<nav class="fixed mx-auto w-full">
  <div
    class="mx-auto flex w-full max-w-7xl justify-center bg-[#FDF8ED] py-3 lg:py-5"
  >
    <h1 class="text-center font-medium lg:text-lg">
      <a href="/">The Industrialist</a>
    </h1>
  </div>
</nav>
