<nav class="fixed mx-auto w-full">
  <div
    class="mx-auto flex w-full max-w-7xl justify-center border-b-2 border-b-black border-opacity-10 bg-[#FDF8ED] bg-opacity-70 py-3 backdrop-blur-xl lg:py-3"
  >
    <h1 class="text-center text-base font-medium md:text-xl">
      <a href="/">The Industrialist</a>
    </h1>
  </div>
</nav>
